<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Model</th>
      <th scope="col">Brand</th>
      <th scope="col">Kilometer-Driven</th>
      <th scope="col">Registration-Year</th>
      <th scope="col">Registration-State</th>
      <th scope="col">Variant</th>
      <th> Price </th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <% seller.tokens.each do |token| %>
        <% if token.status == 'APPROVE'  %>
          <% if ( (seller.purchase_status == "cancel purchase") and  (seller.buyer_id == current_user.id) ) or (seller.purchase_status == "purchase")  %>
        <tr>
          <td><%= seller.city.name %></td>
          <td><%= seller.model.name %></td>
          <td><%= seller.brand.name %></td>
          <td><%= seller.kilometer_driven.name %></td>
          <td><%= seller.registration_year.name %></td>
          <td><%= seller.registration_state.name %></td>
          <td><%= seller.variant.name %></td>
          <td> <%= seller.tokens.last.car_cost.price%> </td>
          <td> <%= link_to seller.purchase_status, toggle_status_seller_path(seller) , class: "btn btn-dark px-3" %></td>     
        </tr>
          <% end %>
        <%end%>
      <%end%>
    <% end %>
  </tbody>
</table>
<div class="text-center my-3 p-2">
  <%= link_to 'Back to home', root_path, class: "btn btn-primary rounded-pill" %>
</div>
