<h1> Approve status </h1>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Model</th>
      <th scope="col">Brand</th>
      <th scope="col">Kilometer-Driven</th>
      <th scope="col">Registration-Year</th>
      <th scope="col">Registration-State</th>
      <th scope="col">Variant</th>
      <th scope="col">Appointment date</th>
      <% if logged_in? && current_user.role.roles == "ADMIN"%>
      <th scope="col">Appointment status</th>
      <%end%>
    </tr>
  </thead>
<% @sellers.each do |seller|  %>
    <% seller.tokens.where(status: "processing").each do |token| %>
    <% s = token.seller %>

  <tbody>
    <tr>
        <td><%= s.city.name %></td>
        <td><%= s.model.name %></td>
        <td><%= s.brand.name %></td>
        <td><%= s.kilometer_driven.name %></td>
        <td><%= s.registration_year.name %></td>
        <td><%= s.registration_state.name %></td>
        <td><%= s.variant.name %></td>
        <td><%= token.appointment_date.strftime("%a, %d %b %Y ") if token.appointment_date %> </td>
    <td><%= link_to 'Change status', edit_token_path(token) ,class: "nav-link  btn btn-info p-1 " %></td>
    </tr>
  </tbody>
    <% end %>
<% end %>
</table>
<div class="text-center my-3 p-2">
  <%= link_to 'Back to home', root_path, class: "btn btn-primary rounded-pill" %>
</div>