
<%= form_with(model: user, local: true) do |form| %>
  <div class="wrapper fadeInDown">
  <div id="formContent">
  <div class="fadeIn first ">
    <h3 class="py-3 h2 text-dark card-header " >Sign up</h3>
  </div>

  <div class="field py-2 pl-5 fadeIn second d-flex flex flex-column " id="login">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field py-2 pl-5 fadeIn third d-flex flex-column" id="password">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <% if !logged_in?%>
  <div class="field py-2 fadeIn w-50 pl-5 d-flex  third">
    <%= collection_select(:user, :role_id, Role.all, :id, :roles,{prompt: 'Please select role'},  {class: 'form-control '}) %>
  </div>
  <%end%>

  <% if logged_in? && current_user.role.roles!= "ADMIN" && current_user.role.roles!= "BUYER"   %>
  <div class="field py-2 pl-5 fadeIn third d-flex flex-column" id="password">
    <%= form.label :Phoneno %>
    <%= form.text_field :phoneno %>
  </div>
  <% end %>


  <div class="actions actions fadeIn fourth">
    <%= form.submit  %>
  </div>
  </div>
</div>
<% end %>
