<h1 align="center" class=" card-header my-4">Buy Car</h1>
<%= link_to 'All post', sellers_path, class: "btn btn-info btn-lg" %>
<%if logged_in? &&  (current_user.role.roles == "ADMIN" || current_user.role.roles == "BUYER") %>
    <%= form_tag sellers_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "search" %>
        <%= button_tag "Search", name: nil, class: "btn btn-dark" %>
      </p>
    <%end%>
<% end %>
  <%= form_tag search_city_sellers_path, method: 'get' do %>
    <%= select_tag "city_name", options_from_collection_for_select(City.all, "name", "name",selected: params[:city_name]), onchange:  "this.form.submit();", prompt: "Search by city", class: "custom-select" %>          
    <%= select_tag "model_name", options_from_collection_for_select(Model.all, "name", "name",selected: params[:model_name]), onchange:  "this.form.submit();", prompt: "Search by model", class: "custom-select" %>      
    <%= select_tag "brand_name", options_from_collection_for_select(Brand.all, "name", "name",selected: params[:brand_name]), onchange: "this.form.submit();", prompt: "Search by brand", class: "custom-select" %>      
    <%= select_tag "registration_year_name", options_from_collection_for_select(RegistrationYear.all, "name", "name",selected: params[:registration_year_id]), onchange: "this.form.submit();", prompt: "Search by Registration Year", class: "custom-select" %>      
    <%= select_tag "kilometer_driven_name", options_from_collection_for_select(KilometerDriven.all, "name", "name",selected: params[:kilometer_driven_name]), onchange: "this.form.submit();", prompt: "Search by Kilometer Driven", class: "custom-select" %>      
    <%= select_tag "variant_name", options_from_collection_for_select(Variant.all, "name", "name",selected: params[:variant_name]), onchange: "this.form.submit();", prompt: "Search by Variant", class: "custom-select" %>      
    <%= select_tag "registration_state_name", options_from_collection_for_select(RegistrationState.all, "name", "name",selected: params[:registration_state_name]), onchange: "this.form.submit();", prompt: "Search by Registration State", class: "custom-select" %>      
  <% end %>
