<div class="bg-dark">
  <nav class="navbar container navbar-expand-lg navbar-dark">
  <%= link_to 'Car Place', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if logged_in? &&  current_user.role.roles == "ADMIN" %>
      <li class="nav-item">
        <%= link_to 'Admin', admin_admin_path, class: 'nav-link' %>
      </li>
    <%end%>
    <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit', edit_user_path(current_user), class: 'dropdown-item' %>
          <% if logged_in? && current_user.role.roles == "SELLER" %>
            <%= link_to 'My appointment', tokens_path, class: "dropdown-item" %>
            <%= link_to 'Branch', locations_path, class: "dropdown-item" %> 
            <form class="form-inline my-2 mx-2 my-lg-0" action="status_search">
              <input class="form-control mr-sm-2 my-2" type="search" name="q" placeholder="Appointment no" aria-label="Search">
              <button class="btn btn-outline-success my-2  my-sm-0" type="submit">Search appointment</button>
            </form>
          <%end%>
        </div>
      <% end %>
      </li>
    </ul> 
      <div class=" d-flex mx-3">
      <% if logged_in?%>
          <%= link_to 'Logout',logout_path, class: 'nav-link btn btn-outline-danger rounded-pill',method: :delete %>
        <% else %>
          <%= link_to 'Sign up',signup_path, class: 'nav-link btn btn-primary rounded-pill mx-3' %>
          <%= link_to 'Login',login_path, class: 'nav-link btn btn-light ' %>
        <%end%>
         <% if logged_in? &&  current_user.role.roles == "SELLER" %> 
           <%= link_to 'Buyer status', update_status_sellers_path, class: 'nav-link btn btn-outline-success rounded-pill ml-3' %>
        <%end%>
        <% if logged_in? &&  current_user.role.roles == "ADMIN" %> 
           <%= link_to 'Update appointment', approve_status_path, class: 'nav-link btn btn-outline-secondary rounded-pill ml-3' %>
        <%end%>
      </div> 
    </div>
  </nav>
</div>