<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Model</th>
      <th scope="col">Brand</th>
      <th scope="col">Kilometer-Driven</th>
      <th scope="col">Registration-Year</th>
      <th scope="col">Registration-State</th>
      <th scope="col">Variant</th>
      <th scope="col">Status</th>
      <th scope="col"> Car Condition</th> 
      <th scope="col">Car Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @my_add.each do |seller| %>
      <tr>
        <td><%= seller.city.name %></td>
        <td><%= seller.model.name %></td>
        <td><%= seller.brand.name %></td>
        <td><%= seller.kilometer_driven.name %></td>
        <td><%= seller.registration_year.name %></td>
        <td><%= seller.registration_state.name %></td>
        <td><%= seller.variant.name %></td>
        <%  token = seller.tokens  %>
        <td><%= token.last.status  %></td>
        <td><%= token.last.car_cost.condition %></td>
        <td><%= token.last.car_cost.price  %></td>
        <td> <%= link_to 'Create new appointment', new_token_path, class: "btn btn-primary" if token.last.status != "APPROVE" and token.last.status != "SOLD" %> </td>

      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center my-3 p-2">
  <%= link_to 'Back to home', root_path, class: "btn btn-primary rounded-pill" %>
</div>
