<%= form_with(model: variant, local: true) do |form| %>
  <%= render 'shared/error', obj: @variant %>
  <div class="field card-body">
    <%= form.label :name  %>
    <%= form.text_field :name, placeholder: 'Enter City Name' %>
  </div>
  <div class="actions text-center">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
